st.color0:      rgb:{{base00-hex-r}}/{{base00-hex-g}}/{{base00-hex-b}}
st.color1:      rgb:{{base08-hex-r}}/{{base08-hex-g}}/{{base08-hex-b}}
st.color2:      rgb:{{base0B-hex-r}}/{{base0B-hex-g}}/{{base0B-hex-b}}
st.color3:      rgb:{{base0A-hex-r}}/{{base0A-hex-g}}/{{base0A-hex-b}}
st.color4:      rgb:{{base0D-hex-r}}/{{base0D-hex-g}}/{{base0D-hex-b}}
st.color5:      rgb:{{base0E-hex-r}}/{{base0E-hex-g}}/{{base0E-hex-b}}
st.color6:      rgb:{{base0C-hex-r}}/{{base0C-hex-g}}/{{base0C-hex-b}}
st.color7:      rgb:{{base05-hex-r}}/{{base05-hex-g}}/{{base05-hex-b}}
st.color8:      rgb:{{base03-hex-r}}/{{base03-hex-g}}/{{base03-hex-b}}
st.color9:      rgb:{{base08-hex-r}}/{{base08-hex-g}}/{{base08-hex-b}}
st.color10:     rgb:{{base0B-hex-r}}/{{base0B-hex-g}}/{{base0B-hex-b}}
st.color11:     rgb:{{base0A-hex-r}}/{{base0A-hex-g}}/{{base0A-hex-b}}
st.color12:     rgb:{{base0D-hex-r}}/{{base0D-hex-g}}/{{base0D-hex-b}}
st.color13:     rgb:{{base0E-hex-r}}/{{base0E-hex-g}}/{{base0E-hex-b}}
st.color14:     rgb:{{base0C-hex-r}}/{{base0C-hex-g}}/{{base0C-hex-b}}
st.color15:     rgb:{{base07-hex-r}}/{{base07-hex-g}}/{{base07-hex-b}}
st.color16:     rgb:{{base09-hex-r}}/{{base09-hex-g}}/{{base09-hex-b}}
st.color17:     rgb:{{base0F-hex-r}}/{{base0F-hex-g}}/{{base0F-hex-b}}
st.color18:     rgb:{{base01-hex-r}}/{{base01-hex-g}}/{{base01-hex-b}}
st.color19:     rgb:{{base02-hex-r}}/{{base02-hex-g}}/{{base02-hex-b}}
st.color20:     rgb:{{base04-hex-r}}/{{base04-hex-g}}/{{base04-hex-b}}
st.color21:     rgb:{{base06-hex-r}}/{{base06-hex-g}}/{{base06-hex-b}}
st.foreground:  rgb:{{base05-hex-r}}/{{base05-hex-g}}/{{base05-hex-b}}
st.background:  rgb:{{base00-hex-r}}/{{base00-hex-g}}/{{base00-hex-b}}
st.cursorColor: rgb:{{base0E-hex-r}}/{{base0E-hex-g}}/{{base0E-hex-b}}
